@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Vos styles personnalisés vont ici */
html.light {
    --color-bg: #fff;
    --color-text: #000;
    --color-primary: #007bff;
    --color-secondary: #000000;
}

html.dark {
    --color-bg: #121212;
    --color-text: #e0e0e0;
    --color-primary: #bb86fc;
    --color-secondary: #070707;
}

body {
    background-color: var(--color-bg);
    color: var(--color-text);
}
.text-5xl{
    color: #070707;
}

.bg-gray-100 {
    background-color: var(--color-bg);
}

.text-black-600 {
    color: var(--color-text);
}
.text-3xl{
    color: var(--color-secondary);
}
.text-gray-600 {
    color: var(--color-text);
}
.name{
    color: var(--color-text);
}
.email{
    color: var(--color-text);
}
.message{
    color: var(--color-text);
}