/* src/App.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-image {
    background-image: url('../public/assets/IT.jpg');
    background-size: cover;
    background-position: center;
}

html.light {
    --color-bg: #fff;
    --color-text: #000;
    --color-primary: #007bff;
    --color-secondary: #6c757d;
}

html.dark {
    --color-bg: #121212;
    --color-text: #e0e0e0;
    --color-primary: #bb86fc;
    --color-secondary: #03dac6;
}

body {
    background-color: var(--color-bg);
    color: var(--color-text);
}

.bg-gray-100 {
    background-color: var(--color-bg);
}

.text-black-600 {
    color: var(--color-text);
}

.text-gray-600 {
    color: var(--color-secondary);
}
